<%- include('../partials/header') %>
<main>
  <h1>Not Authorized</h1>
  <p>It seems you are not authorized to see this page. If you feel this an error, please try logging in again, or return to <a href="/">home</a></p>
</main>
<%- include('../partials/footer') %>