<%- include('../partials/header') %>
<main>
  <h1>I WILL NOT</h1>
  <p>Brewing coffee with a teapot??? I'm ashamed to need to load this page...</p>
  <p>*talking to friend*</p>
  <p>Every single stinking year they ask me to do this. I'm getting sick of it you know!</p>
  <p>*friend*</p>
  <p>They can still hear you...</p>
  <p>*teapot*</p>
  <p>Well then tell them to go away! I won't talk to them any longer!!</p>
</main>